html {
  height: 100%;
  width: 100%;
}

h1 {
  background-color: #f03;
  border-bottom: thin solid #003;
  text-align: center;
  margin: 35px;
}

h2 {
  color: #333;
  font-weight: bold;
}

p {
  font-family: Georgia;
  color: #030;
  padding: 15px;
}

li {
  font-family: Arial;
  background-color: gray;
  color: black;
  font-weight: bold;
  font-size: 18pt;
}

a {
  color: #CC0000;
}

a:hover {
  color: #060;
}

img {
  box-shadow: 0 0 10px black;
}